In [1]:
a=12
b=13
print(a+b)

25

In [2]:
g=23 
h=3
print(g+h)

26

In [2]:
a=43
b=23
print(a-b)

20

In [3]:
s=26
t=4
print(s-t)

22

In [4]:
f=34
g=65
print(f*g)

2210

In [5]:
h=45
d=9
print(h*d)

405

In [7]:
w=49
s=7
print(w//s)

7

In [8]:
t=46
d=23
print(t*d)

1058

In [9]:
t=56
r=78
d=89
s=45
print(t+r+d+s)

268

In [13]:
d=34
r=23
w=78
print(d+r+w)

135

In [15]:
q=120
if q>100:
    print("q is greater than 100")
else:
    print("q is smaller than 100")

q is greater than 100

In [16]:
a=34
b=45
if b>a:
    print("b is greater than a")
else: 
    print("b is smallest than a")

b is greater than a

In [17]:
a=234
f=345
if a<f:
    print("a is smallest than f")
else:
    print("a is greater than f")

a is smallest than f

In [18]:
a=56
if a>100:
    print("a is greater than 100")
else:
    print("a is smallest than 100")

a is smallest than 100

In [19]:
x=45
y=56
if x+y>=100:
    print("student is pass")
else:
    print("student is fail")

student is pass

In [20]:
x=76
y=75
if x>40 and y>40:
    print("student is pass")
else:
    print("student is fail")

student is pass

In [1]:
r=56
s=45
if r>40 and s>40 and r+s>=100:
    print("student is pass")
else:
    print("student is fail")

student is pass

In [3]:
r=56
if r%2==0:
    print("given number is even")
else:
    print("given number is odd")

given number is even

In [4]:
x=98
y=8
if x%y==0:
    x=x+2
    print("x is divisible by y and the answer is ",x)
else:
    print("x is not divisible by y and the answer is",y)

x is not divisible by y and the answer is 8

In [10]:
q=34
w=17
if q%w==0:
    w=w+2
    print("q is divisible by w and the answer is",w)
else:
    print("q is not divisible by w and the answer is",q)

q is divisible by w and the answer is 19

In [9]:
y=45
if y%3==0:
    print("y is divisible by 3")
else:
    print("y is not divisible by 3")

y is divisible by 3

In [14]:
a=34
b=2
if a%b==0:
    a=a+2
    print("a is divisible by b and the answer is",a)
else:
    b=b+2
    print("a is not divisible by b and the answer is",b)

a is divisible by b and the answer is 36

In [15]:
x=2
y=3
if x%y==0:
    x=x*5
    print("x is divisible by y and the answer is",x)
else:
    y=y*5
    print("x is not divisible by y and the answer is",y)

x is not divisible by y and the answer is 15

In [2]:
for a in range(4):
    print(a)

0
1
2
3

In [4]:
for w in range(7):
    print(w)

0
1
2
3
4
5
6

In [5]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
for x in range(2,100,2):
    print(x,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [7]:
for a in range(1,101):
        if a%2==1:
            print(a,"is odd number")

1 is odd number
3 is odd number
5 is odd number
7 is odd number
9 is odd number
11 is odd number
13 is odd number
15 is odd number
17 is odd number
19 is odd number
21 is odd number
23 is odd number
25 is odd number
27 is odd number
29 is odd number
31 is odd number
33 is odd number
35 is odd number
37 is odd number
39 is odd number
41 is odd number
43 is odd number
45 is odd number
47 is odd number
49 is odd number
51 is odd number
53 is odd number
55 is odd number
57 is odd number
59 is odd number
61 is odd number
63 is odd number
65 is odd number
67 is odd number
69 is odd number
71 is odd number
73 is odd number
75 is odd number
77 is odd number
79 is odd number
81 is odd number
83 is odd number
85 is odd number
87 is odd number
89 is odd number
91 is odd number
93 is odd number
95 is odd number
97 is odd number
99 is odd number

In [8]:
for a in range(1,100):
    if a%2==0:
        print(a,"is even number")

2 is even number
4 is even number
6 is even number
8 is even number
10 is even number
12 is even number
14 is even number
16 is even number
18 is even number
20 is even number
22 is even number
24 is even number
26 is even number
28 is even number
30 is even number
32 is even number
34 is even number
36 is even number
38 is even number
40 is even number
42 is even number
44 is even number
46 is even number
48 is even number
50 is even number
52 is even number
54 is even number
56 is even number
58 is even number
60 is even number
62 is even number
64 is even number
66 is even number
68 is even number
70 is even number
72 is even number
74 is even number
76 is even number
78 is even number
80 is even number
82 is even number
84 is even number
86 is even number
88 is even number
90 is even number
92 is even number
94 is even number
96 is even number
98 is even number

In [16]:
a=int(input("enter the starting value :"))
b=int(input("enter the final value :"))
if a<b:
    for c in range (a,b):
        print(c)
else:
        print("enter the valid number")

enter the starting value :45
enter the final value :12
enter the valid number

In [4]:
for q in range(45,5,-1):
    print(q,end=" ")

45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6

In [19]:
for x in range(1,11):
    print("17 X",x, "=", x*17)

17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

In [23]:
x_m=int(input("enter the maximum marks of maths: "))
m=int(input("enter the marks of maths: "))
y_s=int(input("enter the maximum marks 0f science: "))
s=int(input("enter the marks of science: "))
z_e=int(input("enter the maximum marks of english: "))
e=int(input("enter the marks of english: "))
a=x_m+y_s+z_e
b=(m+s+e)*100//a
print(b)

enter the maximum marks of maths: 100
enter the marks of maths: 98
enter the maximum marks 0f science: 100
enter the marks of science: 97
enter the maximum marks of english: 100
enter the marks of english: 98
97

In [1]:
for x in range(1,101):
    print(x,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [37]:
for y in range(576,1025):
    if y%2==0:
        print(y,"is even number")
else:
    print(y,"is odd number")

576 is even number
578 is even number
580 is even number
582 is even number
584 is even number
586 is even number
588 is even number
590 is even number
592 is even number
594 is even number
596 is even number
598 is even number
600 is even number
602 is even number
604 is even number
606 is even number
608 is even number
610 is even number
612 is even number
614 is even number
616 is even number
618 is even number
620 is even number
622 is even number
624 is even number
626 is even number
628 is even number
630 is even number
632 is even number
634 is even number
636 is even number
638 is even number
640 is even number
642 is even number
644 is even number
646 is even number
648 is even number
650 is even number
652 is even number
654 is even number
656 is even number
658 is even number
660 is even number
662 is even number
664 is even number
666 is even number
668 is even number
670 is even number
672 is even number
674 is even number
676 is even number
678 is even number
680 is even number
682 is even number
684 is even number
686 is even number
688 is even number
690 is even number
692 is even number
694 is even number
696 is even number
698 is even number
700 is even number
702 is even number
704 is even number
706 is even number
708 is even number
710 is even number
712 is even number
714 is even number
716 is even number
718 is even number
720 is even number
722 is even number
724 is even number
726 is even number
728 is even number
730 is even number
732 is even number
734 is even number
736 is even number
738 is even number
740 is even number
742 is even number
744 is even number
746 is even number
748 is even number
750 is even number
752 is even number
754 is even number
756 is even number
758 is even number
760 is even number
762 is even number
764 is even number
766 is even number
768 is even number
770 is even number
772 is even number
774 is even number
776 is even number
778 is even number
780 is even number
782 is even number
784 is even number
786 is even number
788 is even number
790 is even number
792 is even number
794 is even number
796 is even number
798 is even number
800 is even number
802 is even number
804 is even number
806 is even number
808 is even number
810 is even number
812 is even number
814 is even number
816 is even number
818 is even number
820 is even number
822 is even number
824 is even number
826 is even number
828 is even number
830 is even number
832 is even number
834 is even number
836 is even number
838 is even number
840 is even number
842 is even number
844 is even number
846 is even number
848 is even number
850 is even number
852 is even number
854 is even number
856 is even number
858 is even number
860 is even number
862 is even number
864 is even number
866 is even number
868 is even number
870 is even number
872 is even number
874 is even number
876 is even number
878 is even number
880 is even number
882 is even number
884 is even number
886 is even number
888 is even number
890 is even number
892 is even number
894 is even number
896 is even number
898 is even number
900 is even number
902 is even number
904 is even number
906 is even number
908 is even number
910 is even number
912 is even number
914 is even number
916 is even number
918 is even number
920 is even number
922 is even number
924 is even number
926 is even number
928 is even number
930 is even number
932 is even number
934 is even number
936 is even number
938 is even number
940 is even number
942 is even number
944 is even number
946 is even number
948 is even number
950 is even number
952 is even number
954 is even number
956 is even number
958 is even number
960 is even number
962 is even number
964 is even number
966 is even number
968 is even number
970 is even number
972 is even number
974 is even number
976 is even number
978 is even number
980 is even number
982 is even number
984 is even number
986 is even number
988 is even number
990 is even number
992 is even number
994 is even number
996 is even number
998 is even number
1000 is even number
1002 is even number
1004 is even number
1006 is even number
1008 is even number
1010 is even number
1012 is even number
1014 is even number
1016 is even number
1018 is even number
1020 is even number
1022 is even number
1024 is even number
1024 is odd number

In [35]:
x=int(input("enter the number of:"))
for a in range(1,x+1):
    if x%a==0:
        print(a)

enter the number of:56
1
2
4
7
8
14
28
56

In [12]:
y=int(input("enter the number"))
for s in range(1,y+1):
    if y%s==0:
        print(s)

enter the number124
1
2
4
31
62
124

In [13]:
count=0
for a in range(576,1024):
    count=count+1
print("the loop takes",count,"rounds")

the loop takes 448 rounds

In [20]:
x=int(input("enter the number"))
count=0
for a in range(1,x+1):
    if x%a==0:
        count=count+1
if count==2:
    print(x,"is prime number")
else:
    print(x,"is a composite number")

enter the number24
24 is a composite number

In [26]:
x=int(input("enter the starting number"))
y=int(input("enter the final number"))
if x<y:
    for a in range(x,y+1):
        print(a)

enter the starting number68
enter the final number78
68
69
70
71
72
73
74
75
76
77
78

In [33]:
a=int(input("enter the starting value"))
b=int(input("enter the ending value"))
if a<b:
    for a in range(a,b+1):
        print(a)
else:
    for a in range(a,b-1,-1):
        print(a,end=", ")

enter the starting value78
enter the ending value12
78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12,

In [13]:
for a in range(1,6):
    for b in range(1,4):
        print(b,end=" ")
    print(" ")

1 2 3
1 2 3
1 2 3
1 2 3
1 2 3

In [10]:
for a in range(1,7):
    for b in range(1,5):
        print(a,end=" ")
    print(" ")

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4
5 5 5 5
6 6 6 6

In [15]:
for a in range(1,8):
    for b in range(a):
        print("a",end=" ")
    print(" ")

a
a a
a a a
a a a a
a a a a a
a a a a a a
a a a a a a a

In [4]:
for a in range(1,8):
    for b in range(a):
        print(a,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [3]:
for a in range(8,0,-1):
    for b in range(a):
        print(a,end=" ")
    print(" ")

8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [8]:
for a in range(1,5):
    for b in range(a):
        print("a",end=" ")
    print(" ")
for a in range(5,0,-1):
    for b in range(a):
        print("a",end=" ")
    print(" ")

a
a a
a a a
a a a a
a a a a a
a a a a
a a a
a a
a

In [9]:
for a in range(5,0,-1):
    for b in range(a):
        print("a",end=" ")
    print(" ")
for a in range(1,5):
    for b in range(a):
        print("a",end=" ")
    print(" ")

a a a a a
a a a a
a a a
a a
a
a
a a
a a a
a a a a

In [10]:
def aa():
    print("hello world")
aa()

hello world

In [12]:
def add():
    a=23
    b=56
    c=a+b
    print("the addition is:",c)
add()

the addition is: 79

In [1]:
def sss(j,k):
    print("india")
sss(12,34)

india

In [2]:
def sss(j,k):
    c=j+k
    print(c)
sss(12,34)

46

In [17]:
def loop():
    for a in range(1,6):
        for b in range(1,6):
            if a+b==6 or a==b:
                print("*",end="   ")
            else:
                print(end="   ")
        print("\n")
    
loop()

*            *

   *      *

      *

   *      *

*            *

In [2]:
def loop():
    for a in range(1,4):
        for b in range(1,6):
            if a+b==6 or a==b:
                print("*",end="   ")
            else:
                print(end="    ")
        print("\n")
loop()

*               *

    *       *

        *

In [29]:
def loop():
    for a in range(1,6):
        for b in range(1,4):
            if a+b==6 or a==b:
                print("*",end="   ")
            else:
                print(end="    ")
        print("\n")
loop()

*

    *

        *

    *

*

In [31]:
def loop():
    for a in range(1,7):
        for b in range(1,6):
            if a+b==6 or a==b:
                print("*",end="   ")
            else:
                print(end="    ")
        print("\n")
loop()

*               *

    *       *

        *

    *       *

*               *

In [35]:
def loop():
    for a in range(1,5):
        for b in range(1,7):
            if a+b==6 or a==b:
                print("*",end="   ")
            else:
                print(end="    ")
        print("\n")
loop()

*               *

    *       *

        *

    *       *

In [36]:
for a in range(1,8):
    for b in range(a):
        print("angel",end=" ")
    print(" ")

angel
angel angel
angel angel angel
angel angel angel angel
angel angel angel angel angel
angel angel angel angel angel angel
angel angel angel angel angel angel angel

In [37]:
for a in range(1,8):
    for b in range(1,7):
        print("angel",end=" ")
    print(" ")

angel angel angel angel angel angel
angel angel angel angel angel angel
angel angel angel angel angel angel
angel angel angel angel angel angel
angel angel angel angel angel angel
angel angel angel angel angel angel
angel angel angel angel angel angel

In [39]:
for a in range(1,8):
    for b in range(b):
        print("angel",end=" ")
    print(" ")

angel angel angel angel angel angel
angel angel angel angel angel
angel angel angel angel
angel angel angel
angel angel
angel

In [ ]:
for a in range(1,8):
    for b in range(b):
        print("angel",end=" ")
    print(" ")